$inactive-color: #81BBFF;

@media (max-width: 800px) {
    div.calendar{
      border: 0;
      width: 100%;
      padding: 0;
      margin: 1%;
    }
  }

//headers
div.calendar__container{
    width: 100%;
}
// div.calendar__header{
//     width: 100%;
//     text-align: center;
// }
// span.calendar__selector{
//     display: inline;
// }

//labels
div.calendar__label{
    width: 100%;
    text-align: center;
    border-top: 2px solid $inactive-color;
    border-bottom: 2px solid $inactive-color;
}
div:first-child.calendar__label{
    border-left: 2px solid $inactive-color;
}
div:nth-child(7).calendar__label{
    border-right: 2px solid $inactive-color;
}

div.calendar__date{
    position: absolute;
    top: 0;
    right: 0.5em;
    margin-top: 0.1em;
    text-align: center;
    min-width: 1.5em;
    // height: inherit;
    
    // background-color: #81BBFF;
    // padding: 0.2em;
    // border-radius: 1em;
    
    // color: white;
    
}

//content
div.calendar{
    display: grid;
    grid-template-columns: 14.25% 14.25% 14.25% 14.25% 14.25% 14.25% 14.25%;
    width: 85%;
    // margin: 0 7.5% 0 7.5%;
    padding: 1rem;
}

div.calendar__event{
    width: 50%;
}

div.calendar__day{
    position: relative;
    width: 100%;
    min-height: 6em;
    height: auto;
    border: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid grey;
    padding: 1.5em 0.5em;
    padding-bottom: 0;
}
.day--blank{
    background-color: rgb(224, 224, 224);
}
.calendar__day--active:hover{
    cursor: pointer;
    border: $inactive-color solid 1px;
    border-radius: 2px;
}
// ul.calendar__events{
//     display: inline;
//     list-style-type: none;
//     width: 100%;
//     min-height: 100px;
//     padding-left: 5%;
//     margin: 0;
//     line-height: 30px;
// }
// li.calendar__events{
//     background-color: $inactive-color;
//     margin: 5px 0 5px 5px;
//     padding: 0 5px 0 15px;
//     border-top-left-radius: 24px;
//     border-bottom-left-radius: 24px;
//     font-family: 'calibri light';
//     font-style: normal;
//     font-weight: 400;
//     position: relative;
//     min-height: 30px;
// }
// li.calendar__events2{
//     background-color: lightpink;
//     margin: 5px;
//     padding: 0 5px 0 15px;
//     border: 1px solid lightpink;
//     border-radius: 24px;
//     font-family: 'calibri light';
//     font-style: normal;
//     font-weight: 400;
//     position: relative;
//     min-height: 30px;
// }

ul.calendar__day__list{
    padding: 0;
}
li.calendar__day__item{
    display: block;
    margin: 0.1em 0;
    border: solid 1px;
    border-radius: 3px;
    padding: 0.2em;
}

div.user__schedule{
    max-width: 50%;
    overflow: scroll;
    height: 50%;
    align-self: center;
    background-color: white;
}
h3.user__schedule__header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 2em;
    z-index: 1;
}
div.schedule__date{
    position: absolute;
    top: 0;
    right: 0.5em;
    margin-top: 0.1em;
    text-align: center;
    min-width: 1.5em;
}
td.schedule__data{
    position: relative;
    min-width: 22em;
    height: 2em;
    border-bottom: black solid 1px;
}
ul.schedule__data{
    padding: 0;
}
ul.schedule__data > li{
    display: block;
    margin: 0.1em 0;
    padding: 0.2em;
}

div.booking__planner{
    display: flex;
    justify-content: space-around;
    gap: 0.25em;
    margin: 0 2em;
}
div.booking__header{
    justify-content: space-around;
    height: 5em;
    margin: 0;
}
div.booking__planner__widgets{
    height: 44em;
}

div.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
div.modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 23em;
    // width: 80%;
}
select.calendar__day__slots{
    display: none;
    gap: 0.2em;
    position: absolute;
    z-index: 1;
    right: 0.5em;
    background-color: white;
    border: solid 1px lightblue;
    border-radius: 0.2em;
}
option.calendar__day__slot{
    text-align: center;
    min-width: 4em;
}
option.calendar__day__slot:hover{
    cursor: pointer;
    background-color: lightcyan;
}