@media (max-width: 1200px){
    form.event__form{
        padding: 0 10%;
    }
}
@media (max-width: 1000px) {
    form.event__form{
        padding: 0 5%;
    }
    fieldset.form__fieldset{
        min-width: auto;
        width: auto;
        margin: 0 0.5em;
    }
    table.schedule__table{
        margin: auto;
    }
@media (max-width: 700px) {
    fieldset.form__fieldset{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    th.schedule__table__header{
        padding: 0;
        width: auto;
    }
    tr.schedule__row > td{
        padding: 0;
    }
}
}
// If @media < 650px to flex opening times table?
// Also to review modal for event images at the above size.

.event__create__background{
    position: absolute;
    // height: 100em;
    height: 15em;
    width: 100%;
}

.event__create__background > img{
    object-fit: cover;
    object-position: bottom;
    height: inherit;
    width: inherit;
}

.event__create__background::after{
    content: "";
    height: 15em;
    width: inherit;
    background: rgba(110,110,110, 0.45);
    top: 0;
    left: 0;
    position: absolute;
}

.event__title{
    position: absolute;
    margin: 0 4em;
}

.event__title > h2{
    color: white;
}

.event__form__header{
    height: 15em;
    margin: 0 auto;
    padding-top: 6em;
    width: fit-content;
}
.event__form__header > input{
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.25em;
}
.event__form__header > textarea{
    padding: 0.5em 1em;
    border-radius: 0.25em;
    margin-top: 1em;
    width: 24em;
}

.event__form{
    position: relative;
    text-align: center;
}

form.event__form > fieldset > :first-child{
    margin: -2em 1em;
}

.form__fieldset{
    background-color: white;
    border: none;
    border-radius: 14px;
    width: fit-content;
    height: fit-content;
    min-width: 30em;
    max-width: 45em;
    margin: auto;
  }
  
  .form__fieldset--large{
    position: relative;
    text-align: center;
  }

  .form__fieldset--tags{
    display: flex;
  }
  
  
  .form__fieldset > input{
    display: block;
    width: 11em;
    margin: 0.5em 2em;
  }
  
  .form__fieldset > legend{
    // background-color: white;
    // border: black 1px solid;
    // border-radius: 3px;
    margin: auto;
    padding-bottom: 1.5em;
    color: black;
  }

.category__column{
    display: inline;
    width: 100%
}

.category__add__wrap{
    margin-top: 1em;
}

.category__add__button{
    font-size: 18px;
}

.event__form__categories{
    margin: 0.5em 2em;
}

.event__category__selections{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0.5em auto;
    max-width: 800px;
    overflow: auto;
}

.event__category__pill{
    font-family: 'calibri light';
    border: 1px solid yellow;
    border-radius: 2em;
    padding: 0.25em 0.75em;
}

.event__image__container{
    padding: 1em 1.5em;
}

.event__image__view{
    display: block;
    margin-top: 0.25em;
}

.event__image__wrap{
    position: relative;
    width: 10rem;
    height: 8rem;
}

// .event__image__wrap::after{
//     content: "";
//     height: inherit;
//     width: inherit;
//     background: rgb(110, 110, 110, 0.33);
//     top: 0;
//     left: 0;
//     position: absolute;
// }

// .event__image__wrap::after:hover{
//     opacity: 0;
// }

.event__image{
    cursor: pointer;
    filter: contrast(70%);
    border: white solid 2px;
    object-fit: cover;
    display: inline;
    width: 10rem;
    height: 8rem;
}

.event__image:hover{
    filter: none;
    border: lightgray solid 2px;
}

.event__image__svg{
    cursor: pointer;
    margin: auto;
    stroke: black;
    width: 4em;
    vertical-align: middle;
}

.event__image__x{
    position: absolute;
    margin-left: -24px;
    width: 1em;
    height: 1em;
    stroke: white;
}

.event__image__x:hover{
    stroke: #FF005C;
}

.event__image__ribbon{
    display: flex;
    width: inherit;
    gap: 0.25em;
    margin: 0 2em;
    overflow: auto;
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
// .event__image__ribbon::-webkit-scrollbar{
//     display: none;
//  }

.event__image__large{
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.event__form__submit{
    display: block;
}

.schedule__info{
    padding: 0 1em;
    min-width: 3em;
    font-size: 12px;
}

.schedule__info--extra{
    min-width: 6em;
    height: fit-content;
    padding: 0.5em 1em;
    padding-left: 2em;
    border-bottom: solid 4px white;
}

.schedule__table{
    border-collapse: collapse;
    margin: auto 4em;
}

.schedule__table__header{
    text-align: left;
    padding-left: 1em;
    padding-right: 3em;
    width: 9em;
}

.schedule__row{
    background-color: white;
}

.schedule__row > td{
    padding: 0.5em 1em;
}