
.images__container{
    display: flex;
    align-items:stretch;
    height: 480px;
    gap: 1%;
    padding: 5% 5% 1% 5%;
}

.image__shrink{
    flex-shrink: 2;
    // padding: 0 5em;
}

.image__rounded{
    border-radius: 4px;
}

.event__container{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0 8em;
    gap: 1em;
}

.event__content{
    padding: 1em
}

.event__content__title{
    display: inline;
}

.event__content__title--item{
    display: inline;
    margin-left: 2em;
}

.event__content__categories{
padding: 0.5em;
    margin: 0.5em 0;
}
.event__content__body{
    text-align: justify;
    padding: 0.5em 1.5em;
}

.event__map{
    width: 80%;
    height: 360px;
}

svg.icon--star {
    margin: auto 5px;
    stroke: yellow;
    fill: yellow;
    width: 14px;
    height: 14px;
}

svg:hover.icon--star{
    fill: rgb(255, 255, 128);
    stroke: rgb(255, 255, 128);
}