$background-color: #768769;
$active-color: #FF005C;

@media (max-width: 800px) {
  h2.navbar__slogan{
    font-size: 1.5em;
  }
}

div.navbar__container{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #768769;
  padding: 0.75em 8em;
  z-index: 5;
  // overflow: hidden;
}

nav.navbar{
  display: inline-flex;
  gap: 3em;
  font-size: 0.9em;
  margin: 0 2em;
}

nav.navbar--right{
  float: right;
}

a.navbar__link--active{
  color: $active-color;
  border: 3px solid $active-color;
  border-radius: 3em;
}
a.navbar__link{
  color: white;
  text-decoration: none;
  padding: 0.25em 0.75em;
}
a.navbar__link--title{
  padding: 0;
}
a:hover.navbar__link{
  color: $active-color;
}

div.navbar__title{
  float: right;
  font-size: 2em;
  line-height: 1.5em;
}