$active-color: #FF005C; //#876984;

@media (max-width: 1000px) {
  div.navbar__container{
    padding: 0.75em 4em;
  }
  nav.navbar{
    margin: 0 1em;
    gap: 1.5em;
  }
  div.navbar__title > a{
    display: none;
  }
  div.navbar__title > img{
    display: block;
  }
}
@media (min-width: 1000px) {
  div.navbar__title > a{
    display: block;
  }
  div.navbar__title > img{
    display: none;
  }
}

@media (max-width: 700px) {
  div.navbar__container{
    padding: 0.75em 0.75em;
  }
  nav.navbar{
    margin: 0;
    gap: 0.25em;
  }
}

.navbar__container{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #768769;
  padding: 0.75em 8em;
  z-index: 5;
  // overflow: hidden;
}

.navbar{
  display: inline-flex;
  gap: 3em;
  font-size: 0.9em;
  margin: 0 2em;
}

nav.navbar--right{
  float: right;
}

a.navbar__link{
  color: white;
  text-decoration: none;
  padding: 0.25em 0.75em;
}
a.navbar__link--active{
  border: 0.2em solid $active-color;
  border-radius: 3em;
  padding: 0.05em 0.75em;
}
a.navbar__link--title{
  padding: 0;
}
a.navbar__link--auth{
  color: lightskyblue;
}
a:hover.navbar__link{
  color: $active-color;
}

.navbar__title{
  float: right;
  font-size: 2em;
  line-height: 1.5em;
}